# Ignore the out/ directory. We chose to only include source code on git, not build binaries.
out/

# Some Visual studio code specific folders that are vary with each client and are not nescessary at all for the core of the project.
.vscode/
lib/